@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", serif;
    background-image: linear-gradient(-225deg, #4559b2 0%, #1834d4 52%, #1e00ff 100%);
    min-height: 100%;
    padding-bottom: 5rem;
}

.tit {
    font-weight: 400;
    font-size: 3rem;
    color: rgb(122, 119, 119);
}

.container {
    background-color: white;
}

.lista-citas {
    border-bottom: 1px solid #e1e1e1;
    padding: 2rem;
    padding-bottom: 3rem;
}

.lista-citas:last-of-type {
    border-bottom: 0;
}
.lista-citas button {
    margin-top: 1rem!important;
  }
  textarea {
    height: 200px!important;
}

svg {
  width: 21px;
}