* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(45deg, #459df4cc, #56404f);
}
.container {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(187, 130, 130);
  background-color: #d1caca;
  #display {
    color: #525252;
  }
  #equal {
    height: 130px;
  }
  #clear {
    background-color: #ffd5d8;
    color: #fc4552;
  }
  .btn-number {
    background-color: #c3eaff;
    color: #000;
  }
  .btn-operator {
    background-color: #d0ffd6;
    color: #6967f9;
  }
  .btn-equal {
    background-color: #c9f9ad;
    color: #000;
  }
  .themeToggler {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    cursor: pointer;
    z-index: 1;
    &::before {
      content: ´´;
      height: 30px;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: #333;
      z-index: -1;
    }
  }
  .themeToggler .active {
    color: #333;
    &::before {
      background-color: #fff;
    }
  }
  button {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}
