// Defining Reusable Variables
$primary-color: #f0db4f;
$secondary-color: #8efda6;
$dark-bg: #000;
$light-bg: #c3eaff;
$text-dark: #525252;
$text-light: #fff;
$button-radius: 30px;
$button-size: 60px;
$transition-speed: 0.2s;

// Styles global
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(45deg, lighten($primary-color, 20%), darken($secondary-color, 20%));
}

.container {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(187, 130, 130);
  background-color: $light-bg;

  #display {
    color: $text-dark;
    margin: 0 10px;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 800;
  }

  #equal {
    height: $button-size * 2.2;
  }

  #clear {
    background-color: lighten($primary-color, 20%);
    color: darken($primary-color, 30%);
  }

  .btn-number {
    background-color: $light-bg;
    color: #000;
  }

  .btn-operator {
    background-color: lighten($secondary-color, 20%);
    color: darken($secondary-color, 40%);
    font-weight: 800;
  }

  .btn-equal {
    background-color: lighten($secondary-color, 30%);
    color: #000;
  }

  .fa-solid {
    color: black;
    padding: 20px;
  }

  &.dark {
    background-color: $dark-bg;

    #display {
      color: $text-light;
    }

    #clear {
      background-color: darken($primary-color, 20%);
      color: $text-light;
    }

    .btn-number {
      background-color: $secondary-color;
      color: $dark-bg;
      font-weight: 500;
    }

    .btn-operator {
      background-color: $primary-color;
      color: $dark-bg;
    }

    .btn-equal {
      background-color: $primary-color;
      color: $dark-bg;
    }

    .fa-solid {
      color: $text-light;
    }
  }
}

.themeToggler {
  position: absolute;
  top: 30px;
  right: 30px;
  color: $text-light;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 30px;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #333;
    z-index: -1;
  }

  .active {
    color: #333;

    &::before {
      background-color: $text-light;
    }
  }
}

button {
  height: $button-size;
  width: $button-size;
  border-radius: $button-radius;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all $transition-speed ease;

  &:hover {
    transform: scale(1.1);
  }
}
