* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(45deg, #459df4cc, #56404f);
}
.container {
  height: 100vh;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.calculator {
  position: relative;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(187, 130, 130);
  background-color: #d1caca;
  #display {
    color: #525252;
  }
  #button#clear {
    background-color: 
  }
}
